$OpenSans: 'OpenSans'

$font: $OpenSans
$fontBold: '#{$font}-Bold'
$fontBoldItalic: '#{$font}-BoldItalic'
$fontItalic: '#{$font}-Italic'
$fontLight: '#{$font}-Light'
$fontLightItalic: '#{$font}-LightItalic'
$fontRegular: '#{$font}-Regular'

$color_white: #ffffff
$color_black: #15151E
$color_orange: #FF522C
$color_gray: #737378
$color_light-gray: #F6F5F0

$color_scrollbar-track: $color_white
$color_scrollbar-thumb: $color_orange

$zindex-dropdown: 1000 !default
$zindex-sticky: 1020 !default
$zindex-fixed: 1030 !default
$zindex-offcanvas-backdrop: 1040 !default
$zindex-offcanvas: 1045 !default
$zindex-modal-backdrop: 1050 !default
$zindex-modal: 1055 !default
$zindex-popover: 1070 !default
$zindex-tooltip: 1080 !default
$zindex-toast: 1090 !default
