@import "../../../styles/imports";

.ant-rate-custom {
  display: inline-flex;
  color: $color-orange;
  font-size: 14px;

  .anticon {
    display: block;
  }

  .ant-rate {
    &-star {
      &:not(:last-child) {
        margin-right: 3px;
      }
    }
  }
}
